<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8" />
    <title></title>
</head>
<body>
<h2>请选择你的妈</h2>
<form action="/game" method="get">
    <label><input name="id" type="radio" value=1 />1🐴 </label>
    <label><input name="id" type="radio" value=2 />2🐴 </label>
    <label><input name="id" type="radio" value=3 />3🐴 </label>
    <label><input name="id" type="radio" value=4 />4🐴 </label>
    <br/><br/>
    <input type="submit" value="选好了，开冲！" />
</form>
</body>
</html>